h1 {
	color: black;
	text-align: center;
	width:50%;
	margin:auto;
	border-bottom: 1px solid black;
}

h2 {
	color: black;
	text-align: center;
	width:30%;
	margin:auto;
	font-family: sans-serif;
}

p{
	margin: auto;
	text-align: center;
	padding-left: 0%;
	font-size: 16px;
}

.filebox{
	padding-left: 5%;
}

a{
	color:black;
	font-family: cursive;
	text-decoration: none;
}