<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quandl Graph</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css')}}">
    <style>
      .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
      }
      .line-point{
        font-size:10px;
        font-family:cursive;
        fill-opacity:0.0;
      }
      svg {
        display: block
        margin: auto;
      }
      .zoom {
        cursor: move;
        fill: none;
        pointer-events: all;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Historic Quandl Data for {{ticker}}</h1>
      <h2>{{ttag}}</h2>
      <h2>{{yrtag}}</h2>
      <div align="center"> 
      <script src="//d3js.org/d3.v4.min.js"></script>
      <script>
        var svgWidth = 1000;
        var svgHeight = 500;

        var margin = {top: 30, right: 40, bottom: 50, left: 60};

        var width = svgWidth - margin.left - margin.right;
        var height = svgHeight - margin.top - margin.bottom;
        var parseTime = d3.timeParse("%Y-%m-%d");

        var svg = d3.select("div")
            .append('svg')
            .attr('width', svgWidth)
            .attr('height', svgHeight)

        // create scale objects
        var x = d3.scaleTime().range([0, width]),
            y = d3.scaleLinear().range([height, 0]),
            z = d3.scaleOrdinal(d3.schemeCategory10);

       // define the line type
        var line = d3.line()
            //.curve(d3.curveBasis) // transfer to curve line the line will be apart from the points
            .x(function(d) { return x(d.date); })
            .y(function(d) { return y(d.temperature); });
        
        // load data from a tsv
        d3.tsv("/data", type, function(error, data) {
          if (error) throw error;
          
          // "type" function here will parse the date
          // the number of elements in cities equals the number of column
          // for each column there are pairs of data id, date and data
        
          var cities = data.columns.slice(1).map(function(id) {
            return {
              id: id,
              values: data.map(function(d) {
                return {date: d.date, temperature: d[id]};
              })
            };
          });
        
          // get the range of x 
          x.domain(d3.extent(data, function(d) { return d.date; }));
        
          // get the range of y
          y.domain([
            d3.min(cities, function(c) { return d3.min(c.values, function(d) { return d.temperature; }); }),
            d3.max(cities, function(c) { return d3.max(c.values, function(d) { return d.temperature; }); })
          ]);

          // create axis objects
          var xAxis = d3.axisBottom(x);
          var yAxis = d3.axisLeft(y);
  
          // Zoom Function
          var zoom = d3.zoom()
              .on("zoom", zoomFunction);
          
          // Inner Drawing Space
          var innerSpace = svg.append("g")
              .attr("class", "inner_space")
              .attr("transform", "translate(" + margin.left + "," +   margin.top        + ")")
              .call(zoom);
          
          // Draw Axis
          var gX = innerSpace.append("g")
              .attr("class", "axis axis--x")
              .attr("transform", "translate(0," + height + ")")
              .call(xAxis);
  
          var gY = innerSpace.append("g")
              .attr("class", "axis axis--y")
              .call(yAxis);
          
          // append zoom area
          var view = innerSpace.append("rect")
            .attr("class", "zoom")
            .attr("width", width)
            .attr("height", height)
            .call(zoom)

          var city = innerSpace.selectAll(".city")
            .data(cities)
            .enter().append("g")
              .attr("class", "city");
          // draw the line for each point
          var lines=city.append("path")
              .attr("class", "line")
              .attr("d", function(d) { return line(d.values); })
              .style("stroke", function(d) { return z(d.id); });
          
          var point = city.append("g")
          .attr("class", "line-point");          
          
          // add data and define the line-point
          circles=point.selectAll('circle')
            .data(function(d){ return d.values})
            .enter()
            .append('circle')
            .attr("cx", function(d) { return x(d.date) })
            .attr("cy", function(d) { return y(d.temperature) })
            .attr("r", 1.5)
            .style("fill", "white")
            .style("stroke", function(d) { return z(this.parentNode.__data__.id); })
            /*.on("mouseover",function(d){
              d3.select(this)
              .style("fill","red")
              .style("fill-opacity",1.0 );
            })
            .on("mouseout",function(d){
              d3.select(this)
              .style("fill","white")
              .style("fill-opacity",0.0);
            })*/
          
          // add data for each point
          point_text=point.selectAll('text')
            .data(function(d){ return d.values})
            .enter()
            .append('text')
            .attr("x", function(d) { return x(d.date) })
            .attr("y", function(d) { return y(d.temperature) })
            .text(function(d) {return d.temperature})
            .on("mouseover",function(d){
              d3.select(this)
              .attr("x", function(d) { return x(d.date)+7 })
              .attr("y", function(d) { return y(d.temperature)+7 })
              .style("fill-opacity",1.0);
            })
            .on("mouseout",function(d){
            d3.select(this)
            .attr("x", function(d) { return x(d.date)})
            .attr("y", function(d) { return y(d.temperature)})
            .style("fill-opacity",0.0);
            })        
          
          function zoomFunction(){
            // create new scale ojects based on event
            var new_xScale = d3.event.transform.rescaleX(x)
            var new_yScale = d3.event.transform.rescaleY(y)
            console.log(d3.event.transform)
          
            // update axes
            gX.call(xAxis.scale(new_xScale));
            gY.call(yAxis.scale(new_yScale));
            lines.attr("transform", d3.event.transform)
            circles.attr("transform", d3.event.transform)
            point_text.attr("transform", d3.event.transform)
          };
        });        
        function type(d, _, columns) {
          d.date = parseTime(d.date);
          for (var i = 1, n = columns.length, c; i < n; ++i) d[c = columns[i]] = +d[c];
          return d;
        }
      </script>
      </div>
    </div>
  </body>
</html>