<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Stock Tracker</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css')}}">
	</head>
	<body>
		<div>
  			<h1>Quandl Stock Tracker</h1>
  			<div>
    			<h2>Input a stock ticker (eg. AAPL) and the time span you want to check.</h2>
    			<form id='input' method='post' action='index'>	
	  				<p>Ticker symbol: </p>
	  				<p class="inputbox"><input type='text' name='ticker' /></p>
	  				<p>Start year: </p>
	  				<p class="inputbox"><input type='text' name='year' /></p>	  	
	  				<p>Start month (format for Jan. to Dec. as 01-12): </p>
	  				<p class="inputbox"><input type='text' name='month' /></p>
	  				<p>Time span (year):</p>
	  				<p class="inputbox"><input type='text' name='timespan' /></p>	  			
	  				<p class="inputbox">
	  					<input type="checkbox" name='feat1' value='Open'>Opening price<br>
							<input type="checkbox" name='feat2' value='Close'>Closing price<br>
							<input type="checkbox" name='feat3' value='Range'>Range (High/Low)<br>
	  				</p>
	  				<p class="inputbox"><input type="submit" value="Submit"></p>  		
					</form>
  			</div>
  			<div>
  				<p>See <a href="https://www.quandl.com/data/WIKI">Quandl</a> for database description</p>
  			</div>
		</div>
	</body>
</html>
